<div>
    <h2>Add account</h2>
    <form>
        <div>
            <label for="account">Provide account name</label>
            <input id="account" type="text" name="account"/>
        </div>
        <div>
            <input type="submit" value="Add" formaction="#" formmethod="post"/>
            <p>
                #if ($duplicated)
                Cannot add same account name (duplicated name) : $duplicated
                #end
            </p>
        </div>
    </form>
</div>