<div>
    <h2>Add $transactionType</h2>
    <form>
        <div>
            <label for="account">Provide account name</label>
            <select id="account" name="account">
                #foreach ($account in $accounts)
                #if ($accName.equals($account.name))
                #set ($selected = "selected")
                #else
                #set ($selected = "")
                #end
                <option
                        value="$account.name"
                        name="account"
                        ${selected}>$account.name
                </option>
                #end
            </select>
            <div>
                <label for="amount">Put an amount</label>
                <input id="amount" type="text" name="amount" value="$amount"/>
            </div>
            <div>
                <label for="category">In category</label>
                <input id="category" type="text" name="category" value="$category"/>
            </div>
            <div>
                <label for="description">For what</label>
                <input id="description" type="text" name="description" value="$description"/>
            </div>
            <div>
                <label for="date">On date: $date</label>
                <input id="date"
                       type="date"
                       name="date"
                       value="$date"/>
            </div>
        </div>
        <div>
            <input type="hidden" value="$transactionType" name="transactionType" id="transactionType">
            #if ($isEdit)
            <input type="submit" value="Edit" formaction="#edited" formmethod="post"/>
            #else
            <input type="submit" value="Add" formaction="#" formmethod="post"/>
            #end
        </div>
    </form>
</div>