<div>
    <h2>Add Expense</h2>
    <form>
        <div>
            <label for="account">Provide account name</label>
            <select id="account">
                #foreach ($account in $accounts)
                <option value="$account.name" name="account">$account.name</option>
                #end
            </select>
            <div>
                <label for="amount">Put an amount</label>
                <input id="amount" type="text" name="amount"/>
            </div>
            <div>
                <label for="category">In category</label>
                <input id="category" type="text" name="category"/>
            </div>
            <div>
                <label for="description">For what</label>
                <input id="description" type="text" name="description"/>
            </div>
            <div>
                <label for="date">On date</label>
                <input id="date" type="datetime-local" name="date"/>
            </div>
        </div>
        <div>
            <input type="submit" value="Add" formaction="/expense" formmethod="post"/>
        </div>
    </form>
</div>