<div>
    <h1>Dashboard</h1>

    <div
            ic-get-from="/app/transactions/"
            ic-trigger-on="timeout:500ms once"
    >
        #include ("templates/static/spinner.vm")
    </div>

</div>