<div class="wrapper">
    <h1>Dashboard</h1>

    <div
            ic-get-from="/app/transactions/"
            ic-trigger-on="load"
    >
        <div class="lds-facebook"><div></div><div></div><div></div></div>
    </div>

</div>