body {
  margin: 10px;
}

.wrapper {
  display: grid;
  grid-gap: 5px;
  border-radius: 5px;
  padding: 10px;
}

#menu {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.ic-transitioning {
  transition: all 500ms;
  opacity: 0;
}

body {
  opacity: 1;
}